<!-- Info + CTA -->
<div class="row-flex" id="action">
  <div class="col-md-6">
    <div class="info">
      <h1>Votre plateforme de mise en relation avec des traducteurs professionnels</h1>
      <p>Sélectionnez parmi une communauté de traducteurs <br>qualifiés pour répondre à vos besoins spécifiques.</p>
      <hr>
      <div class="info__cta">
        <button type="button" class="btn btn-primary" (click)="handleLogin('client')">Je suis traducteur</button>
        <button type="button" class="btn btn-secondary" (click)="handleLogin('translator')">Je recherche un traducteur</button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <img src="../../../assets/images/banner.png" alt="Banner" class="" width="500px"/>
  </div>
</div>
<!-- End of info & cta-->