
.row-flex {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 2rem;
}

.info {
    h1 { 
        font-weight: 300; 
        margin-bottom: 20px;
        margin-top: 30px;
        color: var(--white);
    }
    p {
        font-size: 18px;
        font-weight: 300;
        color: var(--light-aluminium);
    }

    &__cta {
        margin-top: 40px;
    }
}

@import './responsive.scss'