<div class="container">
  <app-alert *ngIf="successMessage" type="success" [message]="successMessage"></app-alert>
  <app-alert *ngIf="errorMessage" type="error" [message]="errorMessage"></app-alert>

  
  <nav class="breadcrumb mb-2" aria-label="breadcrumb">
    <ul class="breadcrumb-list">
      <ng-container *ngFor="let step of steps; let i = index">
        <li class="breadcrumb-item" [class.active]="currentStep === i + 1" (click)="nextStep(i + 1)">
          {{ step }}
        </li>
      </ng-container>
    </ul>
  </nav>

  <form [formGroup]="userForm" (ngSubmit)="submitForm()" class="wrapper-form">
    <!--
      ****************
      ****************
      Informations personnelles
      ****************
      ****************
    -->
    <div class="step step1" *ngIf="currentStep == 1">
      <h3>{{steps[0]}}</h3>
      <!-- Nom -->
      <div class="form-group">
        <label for="title">Nom</label>
        <input type="text" class="form-control" id="lastName" formControlName="lastName" placeholder="Nom en majuscule">
      </div>
  
      <!-- Prénoms -->
      <div class="form-group">
        <label for="title">Prénoms</label>
        <input type="text" class="form-control" id="firstName" formControlName="firstName" placeholder="Initiales en majuscule">
      </div>
  
      <!-- Photo/logo -->
      <div class="form-group">
        <label for="title">Photo/logo</label>

        <br>
        <img [src]="userService.getUser().picture" alt="Photo/Logo" width="30px" height="30px" />

        <input type="file" class="form-control" id="picture" formControlName="picture">
      </div>
  
  
      <!-- E-mail -->
      <div class="form-group">
        <label for="title">E-mail</label>
        <input type="email" class="form-control" id="email" formControlName="email" placeholder="adresse e-mail">
      </div>
  
      <!-- Mot de passe -->
      <div class="form-group">
        <label for="title">Mot de passe</label>
        <input type="password" class="form-control" id="password" formControlName="password" placeholder="8 caractères minimum avec Majuscule">
      </div>
  
      <!-- Sexe -->
      <div class="form-group">
        <label for="gender">Sexe</label>
        <select class="form-control" id="gender" formControlName="gender">
          <option value="men">Homme</option>
          <option value="women">Femme</option>
          <option value="other">Autre</option>
        </select>
      </div>
  
      <!-- Nationalités -->
      <div class="form-group">
        <label for="nationality">Nationalités</label>
        <select class="form-control" id="nationality" formControlName="nationality">
          <option value="nationality1">Nationalité 1</option>
          <option value="nationality2">Nationalité 2</option>
          <!-- Ajoutez d'autres options au besoin -->
        </select>
      </div>
  
      <!-- Pays de résidence -->
      <div class="form-group">
        <label for="countryOfResidence">Pays de résidence</label>
        <select class="form-control" id="countryOfResidence" formControlName="countryOfResidence">
          <option value="country1">Pays 1</option>
          <option value="country2">Pays 2</option>
          <!-- Ajoutez d'autres options au besoin -->
        </select>
      </div>
  
      <!-- Ville -->
      <div class="form-group">
        <label for="title">Ville</label>
        <input type="text" class="form-control" id="city" formControlName="city" placeholder="Zone de texte">
      </div>
      
      <!-- Compte LinkedIn -->
      <div class="form-group">
        <label for="title">Compte LinkedIn</label>
        <input type="text" class="form-control" id="linkedin" formControlName="linkedin" placeholder="Lien vers profil LinkedIn">
      </div>
  
      <!-- Site Internet -->
      <div class="form-group">
        <label for="title">Site Internet</label>
        <input type="text" class="form-control" id="website" formControlName="website" placeholder="URL du site">
      </div>
  
      <!-- Biographie -->
      <div class="form-group">
        <label for="bio">Biographie</label>
        <textarea class="form-control" id="bio" formControlName="bio" rows="4" placeholder="Zone de texte permettant à l'utilisateur de renseigner sa biographie ou un petit texte d'accroche"></textarea>
      </div>
  
      <button type="button" class="btn btn-primary" (click)="nextStep(2)">Étape Suivante</button>  
    </div>



    <!--
      ****************
      ****************
      Informations professionnelles
      ****************
      ****************
    -->
    <div class="step step2" *ngIf="currentStep == 2">
      <h3>{{steps[1]}}</h3>

      <!-- Services -->
      <div class="form-group">
        <label for="services">Services</label>
        <textarea class="form-control" id="services" formControlName="services" rows="4" placeholder="Zone de texte"></textarea>
      </div>
      
      <!-- Statut -->
      <div class="form-group">
        <label for="status">Statut</label>
        <select class="form-control" id="status" formControlName="status">
          <option value="independent">Indépendant</option>
          <option value="company">Entreprise</option>
        </select>
      </div>
      
      <!-- Taille de l'entreprise (si applicable) -->
      <div *ngIf="userForm.get('status')?.value === 'company'" class="form-group">
        <label for="companySize">Taille de l'entreprise</label>
        <select class="form-control" id="companySize" formControlName="companySize">
          <option value="0-5 employees">0-5 employés</option>
          <option value="5-10 employees">5-10 employés</option>
          <option value="10-25 employees">10-25 employés</option>
          <option value="25-50 employees">25-50 employés</option>
          <option value="50+ employees">Plus de 50 employés</option>
        </select>
      </div>
      
      <!-- Langue maternelle -->
      <div class="form-group">
        <label for="nativeLanguage">Langue maternelle</label>
        <select class="form-control" id="nativeLanguage" formControlName="nativeLanguage" multiple>
          <option value="langue1">Langue 1</option>
          <option value="langue2">Langue 2</option>
          <!-- Ajoutez d'autres options au besoin -->
        </select>
      </div>
      
      <!-- Langues de travail -->
      <div class="form-group">
        <label for="workingLanguages">Langues de travail</label>
        <select class="form-control" id="workingLanguages" formControlName="workingLanguages" multiple>
          <option value="langue1">Langue 1</option>
          <option value="langue2">Langue 2</option>
          <!-- Ajoutez d'autres options au besoin -->
        </select>
      </div>
      
      <!-- En activité depuis -->
      <div class="form-group">
        <label for="title">En activité depuis (année)</label>
        <input type="number" class="form-control" id="experienceYear" formControlName="experienceYear">
      </div>
      
      <!-- Spécialisations -->
      <div class="form-group">
        <label for="specializations">Spécialisations</label>
        <textarea class="form-control" id="specializations" formControlName="specializations" rows="4" placeholder="Zone de texte"></textarea>
      </div>
      
      <!-- Outils de TAO -->
      <div class="form-group">
        <label for="translationTools">Outils de TAO</label>
        <select class="form-control" id="translationTools" formControlName="translationTools">
          <option value="true">Oui</option>
          <option value="false">Non</option>
        </select>
      </div>
      
      <!-- Si Oui, préciser -->
      <div *ngIf="userForm.get('translationTools')?.value === 'true'" class="form-group">
        <label for="translationToolsDetails">Préciser les outils de TAO</label>
        <textarea class="form-control" id="translationToolsDetails" formControlName="translationToolsDetails" rows="4" placeholder="Zone de texte"></textarea>
      </div>
      
      <!-- Tarifs -->
      <div class="form-group">
        <h4>Tarifs</h4>
        <div formArrayName="tariffs">
          <div *ngFor="let tariff of tariffs.controls; let i = index" class="input-group mb-2">
            <h5>Services {{ i + 1 }}</h5>
            
            <div [formGroupName]="i">
              <div class="input-group-prepend">
                <span class="input-group-text">Service</span>
              </div>
              <select 
                class="form-control" 
                [id]="'service' + i"  
                formControlName="service"
              >
                <option value="service1">Traduction générale</option>
                <option value="service2">Traduction technique</option>
                <option value="service2">Traduction littéraire</option>
                <option value="service2">Traduction assermentée</option>
                <option value="service2">Interprétation</option>
                <option value="service2">Post-édition</option>
                <option value="service2">Relecture</option>
                <option value="service2">Révision</option>
                <option value="service2">Gestion de projet</option>
                <option value="service2">Expertise TAO</option>
                <option value="service2">Expertise QA</option>
                <option value="service2">Expertise PAO</option>
                <option value="service2">Transcréation</option>
                <option value="service2">Transcription</option>
                <option value="service2">Rédaction technique</option>
                <option value="service2">Rédaction web</option>
                <option value="service2">Copywriting</option>
                <option value="service2">Alignement</option>
                <option value="service2">Terminologie</option>
                <option value="service2">Autres</option>
                <!-- Ajoutez d'autres options au besoin -->
              </select>
  
              <div class="input-group-prepend">
                <span class="input-group-text">Unité</span>
              </div>
              <select class="form-control" [id]="'unit' + i"  formControlName="unit">
                <option value="source word">Mot source</option>
                <option value="target word">Mot cible</option>
                <option value="hour">Heure</option>
                <option value="page">Page</option>
                <option value="day">Jour</option>
              </select>
              
              <div class="input-group-prepend">
                <span class="input-group-text">Prix</span>
              </div>
              <input type="number" class="form-control" formControlName="price">
  
              <div class="input-group-prepend">
                <span class="input-group-text">Devise</span>
              </div>
              <select class="form-control" [id]="'currency' + i" formControlName="currency">
                <option value="currency1">Devise 1</option>
                <option value="currency2">Devise 2</option>
                <!-- Ajoutez d'autres options au besoin -->
              </select>
  
              <div class="input-group-prepend">
                <span class="input-group-text">Tarif minimum</span>
              </div>
              <input type="number" class="form-control" formControlName="minPrice">
            </div>


            <div class="input-group-append">
              <button class="btn btn-danger" (click)="removePrice(i)">Supprimer</button>
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-success" (click)="addPrice()">Ajouter un tarif</button>
      </div>
  
      <button type="button" class="btn btn-primary" (click)="nextStep(3)">Étape Suivante</button>  
    </div>


    <!--
      ****************
      ****************
      Cursus académique
      ****************
      ****************
    -->

    <div class="step step3" *ngIf="currentStep == 3">
      <h3>{{steps[2]}}</h3>

      <!-- Formation diplomante/certifiante -->
      <div class="well">
        Si Oui, suite; si Non, fin du processus et suppression du compte
      </div>
      
      <div class="form-group">
        <label for="hasDiploma">Formation diplomante/certifiante</label>
        <select class="form-control" id="hasDiploma" formControlName="hasDiploma">
          <option value="true">Oui</option>
          <option value="false">Non</option>
        </select>
      </div>
  
      <!-- Si oui, préciser -->
      <div *ngIf="userForm.get('diploma')?.value === 'true'" class="form-group">
        <label for="diplomaDetails">Si oui, préciser</label>
        <textarea class="form-control" id="diplomaDetails" formControlName="diplomaDetails" rows="4" placeholder="Zone de texte"></textarea>
      </div>
  
      <!-- Nom diplôme/certif -->
      <div *ngIf="userForm.get('diploma')?.value === 'true'" class="form-group">
        <label for="diplomaName">Nom diplôme/certif</label>
        <input type="text" class="form-control" id="diplomaName" formControlName="diplomaName" placeholder="Nom du diplôme ou de la certif qui donne le droit d'exercer comme traducteur + preuve dans les PJ plus tard">
      </div>
  
      <!-- Année d'obtention -->
      <div *ngIf="userForm.get('diploma')?.value === 'true'" class="form-group">
        <label for="graduationYear">Année d'obtention</label>
        <input type="number" class="form-control" id="graduationYear" formControlName="graduationYear">
      </div>
  
      <!-- Délivré par -->
      <div *ngIf="userForm.get('diploma')?.value === 'true'" class="form-group">
        <label for="issuedBy">Délivré par</label>
        <input type="text" class="form-control" id="issuedBy" formControlName="issuedBy" placeholder="Nom de l'université ou de l'organisme de formation">
      </div>
  
      <div *ngIf="userForm.get('diploma')?.value === 'true'" class="form-group">
        <button type="button" class="btn btn-info" (click)="addAnotherDiploma()">Ajouter une autre formation</button>
      </div>
      
      <!-- Other Diplomas -->
      <div *ngFor="let diploma of otherDiplomas.controls; let i = index">
        <h3>Autre formation {{ i + 1 }}</h3>
      
        <div class="form-group">
          <label for="diplomaDetails">Si oui, préciser</label>
          <textarea class="form-control" id="diplomaDetails" formControlName="{{i}}.diplomaDetails" rows="4" placeholder="Zone de texte"></textarea>
        </div>
      
        <div class="form-group">
          <label for="diplomaName">Nom diplôme/certif</label>
          <input type="text" class="form-control" id="diplomaName" formControlName="{{i}}.diplomaName" placeholder="Nom du diplôme ou de la certif qui donne le droit d'exercer comme traducteur + preuve dans les PJ plus tard">
        </div>
      
        <div class="form-group">
          <label for="graduationYear">Année d'obtention</label>
          <input type="number" class="form-control" id="graduationYear" formControlName="{{i}}.graduationYear">
        </div>
      
        <div class="form-group">
          <label for="issuedBy">Délivré par</label>
          <input type="text" class="form-control" id="issuedBy" formControlName="{{i}}.issuedBy" placeholder="Nom de l'université ou de l'organisme de formation">
        </div>
      
        <button type="button" class="btn btn-danger" (click)="removeDiploma(i)">Supprimer</button>
      </div>
  
      <button type="button" class="btn btn-primary" (click)="nextStep(4)">Étape Suivante</button>
    </div>


    <!--
      ****************
       ****************
      Expérience professionnelle
      ****************
      ****************
    -->
    <div class="step step4" *ngIf="currentStep == 4">
      <h3>{{steps[3]}}</h3>

      <div formArrayName="experiences">
        <div *ngFor="let experience of experiences.controls; let i = index">
          <h3>Expérience {{ i + 1 }}</h3>

          <div [formGroupName]="i">
            <div class="form-group">
              <label for="title{{i}}">Title</label>
              <input type="text" class="form-control" [id]="'title' + i" formControlName="title">
            </div>
            <div class="form-group">
              <label for="company{{i}}">Company</label>
              <input type="text" class="form-control" [id]="'company' + i" formControlName="company">
            </div>
            <div class="form-group">
              <label for="startDate{{i}}">Start Date</label>
              <input type="date" class="form-control" [id]="'startDate' + i" formControlName="startDate">
            </div>
            <div class="form-group">
              <label for="endDate{{i}}">End Date</label>
              <input type="date" class="form-control" [id]="'endDate' + i" formControlName="endDate">
            </div>
            <div class="form-group">
              <label for="description{{i}}">Description</label>
              <textarea class="form-control" [id]="'description' + i" formControlName="description"></textarea>
            </div>
          </div>
          <button type="button" (click)="removeExperience(i)" class="btn btn-danger">Supprimer</button>
        </div>
      </div>
      <button type="button" (click)="addExperience()" class="btn btn-info">Ajouter</button>  
      <button type="button" class="btn btn-primary" (click)="nextStep(5)">Étape Suivante</button>  
    </div>



    <!--
      ****************
      ****************
      Documents requis
      ****************
      ****************
    -->
    <div class="step step5" *ngIf="currentStep == 5">
      <h3>{{steps[4]}}</h3>

      <div *ngFor="let document of documentControls.controls; let i = index" class="mb-4">
        <h3>Document {{ i + 1 }}</h3>
  
        <div class="form-group">
          <label for="documentType">Type de document</label>
          <input type="text" class="form-control" id="documentType" formControlName="{{i}}.documentType">
        </div>
  
        <div class="form-group">
          <label for="documentName">Nom du document</label>
          <input type="text" class="form-control" id="documentName" formControlName="{{i}}.documentName">
        </div>
  
        <div class="form-group">
          <label for="file">Fichier</label>
          <input type="file" class="form-control" id="file" formControlName="{{i}}.file">
        </div>
  
        <button type="button" class="btn btn-danger" (click)="removeDocument(i)">Supprimer</button>
      </div>
  
      <button type="button" class="btn btn-info" (click)="addDocument()">Ajouter un document</button>
  
      <button type="button" class="btn btn-primary" (click)="nextStep(6)">Étape Suivante</button>
    </div>


    <!--
      ****************
      ****************
      Confirmation des informations
      ****************
      ****************
    -->
    <div class="step step6" *ngIf="currentStep == 6">
      <h3>{{steps[5]}}</h3>
      <div formGroupName="confirmation">
        <div class="custom-checkbox">
          <input class="form-check-input" type="checkbox" id="informationAccurate" formControlName="informationAccurate">
          <label class="form-check-label" for="informationAccurate">
            Je confirme que les informations renseignées ci-dessus sont exactes et vraies au moment de leur saisie et je reconnais que je m'expose à des sanctions juridiques si jamais elles s'avèrent fausses ou erronées partiellement ou entièrement.
          </label>
        </div>
      
        <div class="custom-checkbox">
          <input class="form-check-input" type="checkbox" id="acceptTermsAndConditions" formControlName="acceptTermsAndConditions">
          <label class="form-check-label" for="acceptTermsAndConditions">
            Je confirme par la présente que j'ai lu et compris et que j'accepte les CGU et la politique de confidentialité de (nom du site/appli)
          </label>
        </div>
      </div>
  
      <!-- Bouton de soumission -->
      <button type="submit" class="btn btn-primary">Soumettre</button>
    </div>


  </form>
</div>
