
/* alert.component.css */
.alert {
    padding: 0.3rem;
    text-align: center;
    font-size: 15px;
    width: 100%;
    border: 1px solid transparent;
  }
  
  .alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
  }
  
  .alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
  }
  
  .alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
  }
  
  /* Optional: Add transition for smoother animations */
  .alert {
    transition: opacity 0.5s;
  }
  
  