<div class="container mt-6" id="stepsBlock">
  <span class="badge">Fonctionnement</span>
  <div class="wrapper__steps">
    <div class="wrapper__steps__left">
        <div class="wrapper__steps__info">
          <h2>3 étapes, simple et rapide</h2>
          <p>Un fonctionnement simple et rapide qui s'adapte à tous vos besoins, des plus simples aux plus importants, pour vous permettre de recevoir les meilleures traductions.</p>
        </div>
        <div class="steps__left">
          <ol class="steps__left__list">
              <a href="#step1"><li>Créez Votre Offre</li></a>
              <a href="#step2"><li>Publiez Votre Offre</li></a>
              <a href="#step3"><li>Recevez des Demandes et Collaborez</li></a>
          </ol>
        </div>
        <button type="button" class="btn-secondary">Publier une offre →</button>
    </div>

    <div class="wrapper__steps__right">
        <div class="step-card" id="step1">
          <div class="step-card__header">
              <img src="../../../assets/images/step1.jpeg" alt="Step 1">
          </div>

          <div class="step-card__body">
              <h3>1. Créez Votre Offre</h3>
              <p>Créez votre offre de traduction en spécifiant les critères tels que la langue, le type de traduction, le tarif, etc. Vous pouvez également ajouter des détails sur votre expérience et vos compétences.</p>
          </div>
        </div>

        <div class="step-card" id="step2">
          <div class="step-card__header">
            <img src="../../../assets/images/step2.jpeg" alt="Step 2">
          </div>

          <div class="step-card__body">
            <h3>2. Publiez Votre Offre</h3>
            <p>Une fois que votre offre est prête, publiez-la sur la plateforme. Les clients à la recherche de services de traduction pourront voir votre offre et les détails que vous avez fournis.</p>
          </div>
        </div>

        <div class="step-card" id="step3">
          <div class="step-card__header">
            <img src="../../../assets/images/step3.jpeg" alt="Step 3">
          </div>
          <div class="step-card__body">
            <h3>3. Recevez des Demandes et Collaborez</h3>
            <p>Les clients intéressés par votre offre pourront vous contacter, exprimer leur intérêt ou accepter votre offre. 
              Vous recevrez des notifications pour ces actions. Vous pouvez ensuite communiquer avec les clients via une fonction de chat intégrée pour discuter des détails et collaborer sur le projet.</p>
          </div>
        </div>
    </div>
  </div>
</div>