
<div class="container flex" id="services">
  <span class="badge">Services</span>
  <div class="grid_services">
    <div class="grid_services__item" appFadeIn>
      <i class="fa fa-language"></i>
      <h3>Traductions Précises</h3>
      <span>Des traductions précises et de haute qualité pour tous vos besoins.</span>
    </div>
    <div class="grid_services__item" appFadeIn>
      <i class="fa fa-handshake"></i>
      <h3>Mise en Relation Simplifiée</h3>
      <span>Trouvez rapidement des traducteurs qualifiés pour vos projets.</span>
    </div>
    <div class="grid_services__item" appFadeIn>
      <i class="fa fa-comments"></i>
      <h3>Chat Intégré</h3>
      <span>Communiquez en temps réel avec vos traducteurs directement sur la plateforme.</span>
    </div>
    <div class="grid_services__item" appFadeIn>
      <i class="fa fa-star"></i>
      <h3>Évaluations Fiables</h3>
      <span>Obtenez des informations sur les traducteurs grâce à des évaluations et des recommandations authentiques.</span>
    </div>
    <div class="grid_services__item" appFadeIn>
      <i class="fa fa-user-check"></i>
      <h3>Choisissez Vos Traducteurs</h3>
      <span>Sélectionnez des traducteurs en fonction de vos critères spécifiques.</span>
    </div>
    <div class="grid_services__item" appFadeIn>
      <i class="fa fa-history"></i>
      <h3>Suivi des Transactions</h3>
      <span>Visualisez l'historique de vos transactions financières en un coup d'œil.</span>
    </div>
  </div>
</div>